div{
  border: 1px solid;
  height: 200px;
  width: 200px;
}/*
#div1{
  height: 200px;
  width: 200px;
  background-color: #2aa3df;
}
#div2{
  height: 200px;
  width: 200px;
  background-color: #e2f41c;
}*/
